.App {
  text-align: center;
}

ul {
  display: inline-block;
  list-style: none;
  padding-inline-start: 0;
}

ul li {
  padding: 0.25rem 1rem;
  background-color: #ebebeb;
  margin-top: 0.25rem;
}

ul li:nth-of-type(even) {
  background-color: rgb(220, 220, 220);
}
